body {
    background-color: #fcafdc;
    color: rgb(10, 10, 10);
    font-family: "Josefin Sans", sans-serif;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 10;
}

button {
    background-color: #000000;
    color: #fcafdc;
    font-family: "Josefin Sans", sans-serif;
    font-size: medium;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 85%;
}
